*{
    border:1px solid black
}
html,body{
    margin:0px;
    height:max(606px,100%); 
    width:max(527px,100%);
    box-sizing:border-box
}

#container{
    height:100%;
    display:flex;
    width:100%
    }

#projects{
    height:100%;
    width:40%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    gap:10px
    }

.project{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    height:20px
}

.project:hover{
    background-color:lightblue
}




#tasks{
    height:100%;
    width:60%;

}